raw-attachment/wiki/PSICQUIC/psiquic0.08.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:apachesoap="http://xml.apache.org/xml-soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"

             xmlns:psq="http://psi.hupo.org/mi/psicquic"
             xmlns:mif="http://psi.hupo.org/mi/mif"

             targetNamespace="http://psi.hupo.org/mi/psicquic">

    <types>

        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://psi.hupo.org/mi/psicquic"
                    xmlns="http://www.w3.org/2001/XMLSchema"
                    xmlns:mif="http://psi.hupo.org/mi/mif">

            <xsd:import namespace="http://psi.hupo.org/mi/mif"
                        schemaLocation="MIF254.xsd"/>

            <!-- types -->

            <xsd:complexType name="dbRefType">
                <xsd:sequence>
                    <xsd:element name="db" type="xsd:string" default=""/>
                    <xsd:element name="ac" type="xsd:string" default=""/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="dbRefListType">
              <xsd:sequence>
                <xsd:element name="dbRef" type="psq:dbRefType" minOccurs="1" maxOccurs="unbounded"/>
              </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="queryType">
              <xsd:sequence>
                <xsd:element name="queryFormat" type="xsd:string"/>
                <xsd:element name="queryString" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
              
            <xsd:complexType name="resultInfoType">
              <xsd:sequence>
                <xsd:element name="firstResult" type="xsd:int"/>
                <xsd:element name="maxResult"   type="xsd:int"/>
                <xsd:element name="blockSize"   type="xsd:int"/>
                <xsd:element name="expirationDate" type="xsd:dateTime"/>
              </xsd:sequence>
            </xsd:complexType>
          
            <!-- elements -->
 
              <xsd:complexType name="dbRefRequestType">
                <xsd:sequence>
                  <xsd:element name="dbRef" type="psq:dbRefType"/>
                  <xsd:element name="resultType" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>

            <xsd:complexType name="dbRefListRequestType">
              <xsd:sequence>
                <xsd:element name="dbRefList" type="psq:dbRefType"/>
                <xsd:element name="resultType" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>

          <xsd:complexType name="queryRequestType">
            <xsd:sequence>
              <xsd:element name="query" type="psq:queryType"/>
              <xsd:element name="resultType" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>

          <xsd:complexType name="versionResponseType">
            <xsd:sequence>
              <xsd:element name="version" type="xsd:string"/>
              <xsd:element name="supportedDataTypeList">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="dataType" type="xd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>

          <xsd:element name="getByInteractorRequest" type="psq:dbRefRequestType"/>
          <xsd:element name="getByInteractionRequest" type="psq:dbRefRequestType"/>
          <xsd:element name="getByInteractorListRequest" type="psq:dbRefListRequestType"/>
          <xsd:element name="getByInteractionListRequest" type="psq:dbRefListType"/>
          <xsd:element name="getBetweenListRequest" type="psq:dbRefListRequestType"/>
          <xsd:element name="getByQueryStringRequest" type="psq:queryRequestType"/>
       
          <xsd:element name="versionResponse" type="psq:versionResponseType"/>

            <xsd:element name="queryResponse">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="resultSet">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="entrySet"   type="mif:entrySetType"  minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="mitab"      type="psq:mitabType"     minOccurs="0" maxOccurs="1"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="resultInfo" type="psq:resultInfoType"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            
            <!-- faults -->

            <xsd:element name="psicquicFault">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" type="xsd:int"/>
                  <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

        </xsd:schema>

    </types>

    <!-- MESSAGES -->

    <message name="getByInteractorRequestMessage">
        <part name="dbRef" element="psq:getByInteractorRequest"/>
    </message>

    <message name="getByInteractorResponseMessage">
        <part name="queryResponse" element="psq:psicquicQueryReponse"/>
    </message>

    <message name="getByInteractionRequestMessage">
        <part name="dbRef" element="psq:getByInteractionRequest"/>
    </message>

    <message name="getByInteractionResponseMessage">
      <part name="queryResponse" element="psq:psicquicQueryReponse"/>
    </message>

    <message name="getByInteractorListRequestMessage">
        <part name="dbRefList" element="psq:getByInteractorListRequest"/>
    </message>

    <message name="getByInteractorListResponseMessage">
      <part name="queryResponse" element="psq:psicquicQueryReponse"/>
    </message>

    <message name="getBetweenListRequestMessage">
      <part name="dbRefList" element="psq:getBetweenListRequest"/>

    </message>

    <message name="getBetweenListResponseMessage">
      <part name="queryResponse" element="psq:psicquicQueryReponse"/>
    </message>

    <message name="getByInteractionListRequestMessage">
        <part name="dbRefList" element="psq:getByInteractionListRequest"/>
    </message>

    <message name="getByInteractionListResponseMessage">
      <part name="queryResponse" element="psq:psicquicQueryReponse"/>
    </message>

    <message name="getByQueryRequestMessage">
        <part name="query" element="psq:getByQueryRequest"/>
    </message>

    <message name="getByQueryResponseMessage">
      <part name="queryResponse" element="psq:psicquicQueryReponse"/>
    </message>

    <message name="getVersionRequestMessage">
    </message>

    <message name="getVersionResponseMessage">
        <part name="output" element="psq:getVersionResponse"/>
    </message>

    <message name="psicquicServiceException">
        <part name="fault" element="psq:psicquicFault"/>
    </message>

    <!-- Port type (operations) -->

    <portType name="psicquicPortType">

        <!-- get interactions by interactor ref -->

        <operation name="getByInteractor" parameterOrder="dbRef">

            <input name="getByInteractorRequestMessage" message="psq:getByInteractorRequestMessage"/>
            <output name="getByInteractorResponseMessage" message="psq:getByInteractorResponseMessage"/>
            <fault name="getByInteractorException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by interaction ref -->

        <operation name="getByInteraction" parameterOrder="dbRef">
            <input name="getByInteractionRequestMessage" message="psq:getByInteractionRequestMessage"/>
            <output name="getbyInteractionResponseMessage" message="psq:getByInteractionResponseMessage"/>

            <fault name="getByInteractionException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by interactor ref list -->

        <operation name="getByInteractorList" parameterOrder="dbRefList">
            <input name="getByInteractorListRequestMessage" message="psq:getByInteractorListRequestMessage"/>
            <output name="getByInteractorListResponseMessage" message="psq:getByInteractorListResponseMessage"/>
            <fault name="getByInteractorListException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions between interactor ref list -->

        <operation name="getBetweenList" parameterOrder="dbRefList">
            <input name="getBetweenListRequestMessage" message="psq:getBetweenListRequestMessage"/>
            <output name="getBetweenListResponseMessage" message="psq:getBetweenListResponseMessage"/>
            <fault name="getBetweenListException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by interaction ref list -->

        <operation name="getByInteractionList" parameterOrder="dbRefList">
            <input name="getByInteractionListRequestMessage" message="psq:getByInteractionListRequestMessage"/>
            <output name="getByInteractionListResponseMessage" message="psq:getByInteractionListResponseMessage"/>
            <fault name="getByInteractionListException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by query sring -->

        <operation name="getByQuery" parameterOrder="query">

            <input name="getByQueryRequestMessage" message="psq:getByQueryRequestMessage"/>
            <output name="getByQueryResponseMessage" message="psq:getByQueryResponseMessage"/>
            <fault name="getByQueryException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get version -->

        <operation name="getVersion">
            <input message="psq:getVersionRequestMessage"/>
            <output name="getVersionResponseMessage" message="psq:getVersionResponseMessage"/>

            <fault name="getVersionException" message="psq:psicquicServiceException"/>
        </operation>

    </portType>

    <!-- BINDING (bind operations) -->

    <binding name="psicquicSoapBinding" type="psq:psicquicPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getByInteractor">

            <soap:operation soapAction="getByInteractor"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractorException">
                <soap:fault name="getByInteractorException" use="literal"/>

            </fault>
        </operation>

        <operation name="getByInteraction">
            <soap:operation soapAction="getByInteraction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>

                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractionException">
                <soap:fault name="getByInteractionException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByInteractorList">
            <soap:operation soapAction="getByInteractorList"/>

            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractorListException">
                <soap:fault name="getByInteractorListException" use="literal"/>
            </fault>

        </operation>

        <operation name="getBetweenList">
            <soap:operation soapAction="getBetweenList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>

            </output>
            <fault name="getBetweenListException">
                <soap:fault name="getBetweenListException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByInteractionList">
            <soap:operation soapAction="getByInteractionList"/>
            <input>

                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractionListException">
                <soap:fault name="getByInteractionListException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByQuery">
            <soap:operation soapAction="getByQuery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>

            <fault name="getByQueryException">
                <soap:fault name="getByQueryException" use="literal"/>
            </fault>
        </operation>

        <operation name="getVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>

            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <!-- SERVICE -->
    <service name="psicquic">
        <port name="psicquic" binding="psq:psicquicSoapBinding">
            <soap:address location="http://psi.hupo.org/mi/services/psicquic"/>
        </port>
    </service>
</definitions>
