raw-attachment/wiki/PSICQUIC/psiquic0.05.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:apachesoap="http://xml.apache.org/xml-soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"

             xmlns:psq="http://psi.hupo.org/mi/psicquic"
             xmlns:mif="http://psi.hupo.org/mi/mif"

             targetNamespace="http://psi.hupo.org/mi/psicquic">

    <types>

        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://psi.hupo.org/mi/psicquic"
                    xmlns="http://www.w3.org/2001/XMLSchema"
                    xmlns:mif="http://psi.hupo.org/mi/mif">

            <xsd:import namespace="http://psi.hupo.org/mi/mif"
                        schemaLocation="MIF254.xsd"/>

            <!-- types -->

            <xsd:complexType name="dbRefType">
                <xsd:sequence>
                    <xsd:element name="db" type="xsd:string" default=""/>
                    <xsd:element name="ac" type="xsd:string" default=""/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="dbRefListType">
                <xsd:sequence>
                    <xsd:element name="dbRef" type="mif:dbReferenceType" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="query">
                <xsd:sequence>
                    <xsd:element name="queryFormat" type="xsd:string"/>
                    <xsd:element name="queryString" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="version">
                <xsd:sequence/>
            </xsd:complexType>

            <!-- elements -->
            <xsd:element name="dbRefType" type="psq:dbRefType"/>
            <xsd:element name="dbRefTypeList" type="psq:dbRefListType"/>
            <xsd:element name="query" type="psq:query"/>

            <xsd:element name="getByInteractorRequest" type="psq:dbRefType"/>
            <!--<xsd:element name="getByInteractorResponse" type="mif:entrySet"/>-->

            <xsd:element name="getByInteractionRequest" type="psq:dbRefType"/>
            <!--<xsd:element name="getByInteractionResponse" type="mif:entrySet"/>-->

            <xsd:element name="getByInteractorListRequest" type="psq:dbRefListType"/>
            <!--<xsd:element name="getByInteractorListResponse" type="mif:entrySet"/>-->

            <xsd:element name="getByInteractionListRequest" type="psq:dbRefListType"/>
            <!--<xsd:element name="getByInteractionListResponse" type="mif:entrySet"/>-->

            <xsd:element name="getBetweenListRequest" type="psq:dbRefListType"/>
            <!--<xsd:element name="getBetweenListResponse" type="mif:entrySet"/>-->

            <xsd:element name="getByQueryRequest" type="psq:query"/>
            <!--<xsd:element name="getByQueryResponse" type="mif:entrySet"/>-->

            <xsd:element name="getVersionRequest" type="psq:version"/>

            <xsd:element name="getVersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="version" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- faults -->

            <xsd:element name="psicquicFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="code" type="xsd:int"/>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <!-- MESSAGES -->

    <message name="getByInteractorRequestMessage">
        <part name="input" element="psq:getByInteractorRequest"/>
    </message>

    <message name="getByInteractorResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="getByInteractionRequestMessage">
        <part name="input" element="psq:getByInteractionRequest"/>
    </message>

    <message name="getByInteractionResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="getByInteractorListRequestMessage">
        <part name="input" element="psq:getByInteractorListRequest"/>
    </message>

    <message name="getByInteractorListResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="getBetweenListRequestMessage">
        <part name="input" element="psq:getBetweenListRequest"/>
    </message>

    <message name="getBetweenListResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="getByInteractionListRequestMessage">
        <part name="input" element="psq:getByInteractionListRequest"/>
    </message>

    <message name="getByInteractionListResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="getByQueryRequestMessage">
        <part name="input" element="psq:getByQueryRequest"/>
    </message>

    <message name="getByQueryResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="getVersionRequestMessage">
        <part name="input" element="psq:getVersionRequest"/>
    </message>

    <message name="getVersionResponseMessage">
        <part name="output" element="mif:entrySet"/>
    </message>

    <message name="psicquicServiceException">
        <part name="fault" element="psq:psicquicFault"/>
    </message>

    <!-- Port type (operations) -->

    <portType name="psicquicPortType">

        <!-- get interactions by interactor ref -->

        <operation name="getByInteractor" parameterOrder="input">
            <input name="getByInteractorRequestMessage" message="psq:getByInteractorRequestMessage"/>
            <output name="getByInteractorResponseMessage" message="psq:getByInteractorResponseMessage"/>
            <fault name="getByInteractorException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by interaction ref -->

        <operation name="getByInteraction" parameterOrder="input">
            <input name="getByInteractionRequestMessage" message="psq:getByInteractionRequestMessage"/>
            <output name="getbyInteractionResponseMessage" message="psq:getByInteractionResponseMessage"/>
            <fault name="getByInteractionException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by interactor ref list -->

        <operation name="getByInteractorList" parameterOrder="input">
            <input name="getByInteractorListRequestMessage" message="psq:getByInteractorListRequestMessage"/>
            <output name="getByInteractorListResponseMessage" message="psq:getByInteractorListResponseMessage"/>
            <fault name="getByInteractorListException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions between interactor ref list -->

        <operation name="getBetweenList" parameterOrder="input">
            <input name="getBetweenListRequestMessage" message="psq:getBetweenListRequestMessage"/>
            <output name="getBetweenListResponseMessage" message="psq:getBetweenListResponseMessage"/>
            <fault name="getBetweenListException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by interaction ref list -->

        <operation name="getByInteractionList" parameterOrder="input">
            <input name="getByInteractionListRequestMessage" message="psq:getByInteractionListRequestMessage"/>
            <output name="getByInteractionListResponseMessage" message="psq:getByInteractionListResponseMessage"/>
            <fault name="getByInteractionListException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get interactions by query sring -->

        <operation name="getByQuery" parameterOrder="input">
            <input name="getByQueryRequestMessage" message="psq:getByQueryRequestMessage"/>
            <output name="getByQueryResponseMessage" message="psq:getByQueryResponseMessage"/>
            <fault name="getByQueryException" message="psq:psicquicServiceException"/>
        </operation>

        <!-- get version -->

        <operation name="getVersion" parameterOrder="input">
            <input name="getVersionRequestMessage" message="psq:getVersionRequestMessage"/>
            <output name="getVersionResponseMessage" message="psq:getVersionResponseMessage"/>
            <fault name="getVersionException" message="psq:psicquicServiceException"/>
        </operation>

    </portType>

    <!-- BINDING (bind operations) -->

    <binding name="psicquicSoapBinding" type="psq:psicquicPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getByInteractor">
            <soap:operation soapAction="getByInteractor"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractorException">
                <soap:fault name="getByInteractorException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByInteraction">
            <soap:operation soapAction="getByInteraction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractionException">
                <soap:fault name="getByInteractionException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByInteractorList">
            <soap:operation soapAction="getByInteractorList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractorListException">
                <soap:fault name="getByInteractorListException" use="literal"/>
            </fault>
        </operation>

        <operation name="getBetweenList">
            <soap:operation soapAction="getBetweenList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getBetweenListException">
                <soap:fault name="getBetweenListException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByInteractionList">
            <soap:operation soapAction="getByInteractionList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByInteractionListException">
                <soap:fault name="getByInteractionListException" use="literal"/>
            </fault>
        </operation>

        <operation name="getByQuery">
            <soap:operation soapAction="getByQuery"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getByQueryException">
                <soap:fault name="getByQueryException" use="literal"/>
            </fault>
        </operation>

        <operation name="getVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getVersionException">
                <soap:fault name="getVersionException" use="literal"/>
            </fault>
        </operation>

    </binding>

    <!-- SERVICE -->
    <service name="psicquic">
        <port name="psicquic" binding="psq:psicquicSoapBinding">
            <soap:address location="http://psi.hupo.org/mi/services/psicquic"/>
        </port>
    </service>
</definitions>
